# Backend
backend/.env
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/instance/
backend/*.db
backend/uploads/*
!backend/uploads/.gitkeep

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
